.enemy-container {
  width: 100px;
  margin: 10px;
}

.enemy-image {
  width: 100px;
  height: 100px;
  margin: 0;
}

.enemy-container h3 {
  text-align: center;
  margin: 10px;
}

.enemy-health {
  height: 12px;
  background: red;
  padding: 0;
  margin: 0;
  z-index: 1;
}
