.fight-screen {
  max-width: 600px;
  height: 400px;
  background: papayawhip;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}

.combat {
  display: flex;
  justify-content: space-between;
}

.health-bar {
  width: 100px;
  height: 12px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
}
