.header {
  font-size: 12px;
  color: #EEEEEE;
  text-align: center;
  cursor: default;
  margin: 0 auto;
  width: 250px;
}

.header h1 {
  font-size: 16px;
}

.header:hover {
  animation: colorChange 3s infinite
}

@keyframes colorChange {
  0% {color: goldenrod;}
  25% {color: darkcyan;}
  75% {color: crimson;}
  100% {color: goldenrod;}
}