.action-buttons {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.action-button {
    margin: 6px;
}

.attack-button {
    background: lightcoral;
}

.special-button {
    background: lightblue;
}