.level-stats {
    font-size: 12px;
}

.action-buttons {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action-button {
    margin: 6px;
}

.fake-button {
    background: lightgrey;
}

.attack-button {
    background: lightcoral;
}

.special-button {
    background: lightblue;
}