.player-image {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.attacking {
  transform: translateX(50px);
  transition: 500ms;
}

.specialing {
  background: radial-gradient(circle, yellow 40%, transparent 80%);
}

.player-container h3 {
  text-align: center;
  margin: 10px;
}

.status-bar {
  border: 1px solid black;
}

.player-health {
  height: 12px;
  background: red;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.player-mana {
  height: 12px;
  background: blue;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.attack {
  margin: 20px 0;
}

.stats {
  margin: 0;
  border: 1px solid black;
  text-align: left;
  padding: 4px;
  background: lightgrey;
}

.stat {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto Mono";
}
