.player-container {
}

.player-image {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.player-container h3 {
  text-align: center;
  margin: 10px;
}

.player-health {
  height: 12px;
  background: red;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.attack {
  margin: 20px 0;
}

.stats {
  margin: 0;
  padding: 0;
}
